footer{
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.footerWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footerLink{
  font-weight: bold;
  color: #dfaf00 !important;
}
.finePrint{
  font-size: 12px;
}
