@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Roboto|Ubuntu&display=swap');

.flexCenterColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 a:-webkit-any-link, a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.yellowLink{
  font-weight: bold;
  color: #dfaf00 !important;
}
.yellowLink:hover{

  color: #fff !important;
}

html{
  background-color: #353433;
  color: #fffad4;
}
body{

}
main{
  min-height: 70vh;

}
h1 {
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Fugaz One', cursive;
  font-size: 30px;
  line-height: 30px;
}
h2 {
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Fugaz One', cursive;
  font-size: 20px;
  line-height: 20px;
}
h3 {
  /* font-family: 'Yeseva One', cursive; */
  font-family: 'Fugaz One', cursive;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}
body, main{
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

@media all and (min-width: 430px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }
}


@media all and (min-width: 900px) {
  h1 {
    /* font-size: 90px;
    line-height: 90px; */
  }
}
