@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Yeseva+One&display=swap');


header div {

}
.headerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #dfb600;
}
.headerContainer:hover {
  background: #490f07;

}
