
.headerContainer{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    height: 100px;
    background: #dfb600;
}
.headerContainer:hover {
  background: #bf7315;
  /* background: #490f07; */

}
.headerContainer:hover > h1{
  color: #dfb600;
}

.zachrodis h1{
  color: #bf7315;

}
@media all and (min-width: 900px) {
  .headerContainer{

  }
}
